<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
{% block header %}
    <h1>Main page</h1>
{% endblock %}

{% for m in menu_url %}
    <a href="{{ m.url }}">{{ m.title }}</a>
{% endfor %}

{% if user %}
<p>
<form action="{{ url_for('logout') }}">
    <input type="submit" value="Logout">
</form>
</p>
{% endif %}
<!--<a href="{{ url_for('profile', username='vara') }}">User Vara</a>-->

<!--<a href="{{url_for('index')}}">Главная страница</a>-->

{% block content %}
{% endblock %}

<script>
    document.cookie = 'ex=1;';
    if (!document.cookie) {
        alert('Необходимо включить cookies')
    }
</script>

</body>
</html>