{% extends 'base.html' %}

{% block header %}
<h1>Hello Flask</h1>
{% endblock %}

{% block content %}

{% for cat, message in get_flashed_messages(True) %}
<div class="flash {{ cat }}">{{ message }}</div>
{% endfor %}

{% for p in posts %}
<a class="post-link" href="{{ url_for('post_content', post_id=p.id) }}">
<div class="post">
    <h3>{{ p.title }}</h3>
    <p>{{ p.content[:30] | striptags }}</p>
</div>
</a>
{% endfor %}
<hr>
<input type="number" name="number" id="number">
<button onclick="sendRequest()">Send AJAX</button>
<hr>
<input type="number2" name="number2" id="number2">
<button onclick="sendRequestPost()">Send AJAX</button>
<hr>
<button onmouseover="hoverPost()">button</button>

<script>
    const value = $('#number').value;

    sendRequest = function (){
        $.ajax({
            url: '/ajax',
            data: 'number=' + $('#number').val(),
            success: function (response){
                console.log(response)
                $('#number').val(response)

            },
            error: function (response){
                console.log('error: ')
                console.log(response)
            }
        })
    }

    sendRequestPost = function (){
        $.ajax({
            url: '/ajax',
            type: 'Post',
            data: 'number=' + $('#number').val(),
            success: function (response){
                console.log(response)
                $('#number').val(response)

            },
            error: function (response){
                console.log('error: ')
                console.log(response)
            }
        })
    }
    $('#number').focusout(sendRequest)

    hoverPost = function (){
        $.ajax({
            url: '/ajax_items',
            type: 'Post',
            data: {},
            success: function (response){
                console.log(response)

            },
            error: function (response){
                console.log('error: ')
                console.log(response)
            }
        })
    }
</script>

{% endblock %}